

	<form id="be-a-coach">
		<div class="row">
			<div class="form-group col-sm-12">
				<p style="font-family: calibri; font-size: 10pt !important">* All fields are required</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<input class="form-control" type="tel" name="mobile-number"
					placeholder="Mobile Number" required="required" />
			</div>
			<div class="form-group col-sm-6">
				<input class="form-control" name="dob" placeholder="Date Of Birth"
					required="required" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">

				<label class="radio-inline"><input type="radio"
					value="female" name="gender">Female</label> <label
					class="radio-inline"><input type="radio" name="gender"
					value="male">Male</label>
			</div>
			<div class="form-group col-sm-6">
				<select required="required" class="form-control"
					name="educational-level">
					<option value="" disabled selected hidden>Education Level</option>
					<option>Higher National Diploma</option>
					<option>Bachelor's Degree</option>
					<option>Master's Degree</option>
					<option>Post Graduate Diploma</option>
					<option>Doctorate</option>
					<option>professional</option>
				</select>
			</div>
		</div>
		<div class="row"
			style="background-color: #eaeaea; border: 1px solid #dadada; padding-top: 2%; margin-bottom: 1%;">
			<div class="form-group col-sm-6">
				<input class="form-control" name="award-name"
					placeholder="Certification/Award" required="required" />
			</div>
			<div class="form-group col-sm-3">
				<input class="form-control" name="award-month"
					placeholder="Month Obtained" required="required" />
			</div>
			<div class="form-group col-sm-3">
				<input class="form-control" name="award-year"
					placeholder="Year Obtained" required="required" />
			</div>
			<div class="col-sm-12">Add new</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<input class="form-control" type="file" name="cv"
					placeholder="Upload Your CV" required="required" /> <span
					class="text-info">Upload Your CV</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<textarea rows="5" name="coach-description" class="form-control"
					placeholder="Tell Us about Yourself...">
						
					</textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<input type="submit" value="Continue" class="btn btn-primary">
			</div>
		</div>
	</form>


	<form id="recruit-professionals">
		<div class="row">
			<div class="form-group col-sm-12">
				<p>Your company name, description, location and logo are
					required</p>
				<p>When recruiting for a third party you will be able to specify
					the company information to use</p>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-6">
				<input class="form-control" name="company-name"
					placeholder="Company Name" required="required" />
			</div>
			<div class="form-group col-sm-6">
				<input class="form-control" name="company-location"
					placeholder="Company Location" required="required" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<input class="form-control" type="file" name="company-logo"
					placeholder="Company Logo" required="required" /> <span
					class="text-info">* Company Logo</span>
			</div>
			<div class="form-group col-sm-6">
				<input class="form-control" name="company-website"
					placeholder="Company Website" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<textarea rows="5" name="company-description" class="form-control"
					placeholder="Company Description">
						
					</textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<input type="submit" value="Continue" class="btn btn-primary">
			</div>
		</div>
	</form>


	<form id="connect-with-professionals">
		<div class="row">
			<div class="form-group col-sm-12">
				<p>Tell us where you work, All fields are required</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<input class="form-control" name="job-title" placeholder="Job Title"
					required="required" />
			</div>
			<div class="form-group col-sm-6">
				<input class="form-control" name="organisation"
					placeholder="Organization" required="required" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<input type="submit" value="Continue" class="btn btn-primary">
			</div>
		</div>
	</form>


	<form id="find-a-job">
		<div class="row">
			<div class="form-group col-sm-12">
				<p style="font-family: calibri !important; font-size: 9pt !important; color: red">* All fields are required</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<input class="form-control" type="tel" name="mobile-number"
					placeholder="Mobile Number" required="required" />
			</div>
			<div class="form-group col-sm-6">
				<input class="form-control" name="dob" placeholder="Date Of Birth"
					required="required" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">

				<label class="radio-inline"><input type="radio"
					value="female" name="gender">Female</label> <label
					class="radio-inline"><input type="radio" name="gender"
					value="male">Male</label>
			</div>
			<div class="form-group col-sm-6">
				<select class="form-control" name="career-level" required="required">
					<option value="" disabled selected hidden>Career Level</option>
					<option value="101">Student (Undergraduate/Graduate)</option>
					<option value="102">Entry Level</option>
					<option value="103">Experienced (Non-Managerial)</option>
					<option value="104">Manager (Manager/Supervisor of Staff)</option>
					<option value="105">Executive (SVP,VP,Department Head etc)</option>
					<option value="106">Senoir Executive (President, CFO. etc)</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">

				<select required="required" class="form-control"
					name="educational-level">
					<option value="" disabled selected hidden>Education Level</option>
					<option>Higher National Diploma</option>
					<option>Bachelor's Degree</option>
					<option>Master's Degree</option>
					<option>Post Graduate Diploma</option>
					<option>Doctorate</option>
					<option>professional</option>
				</select>
			</div>
			<div class="form-group col-sm-6">
				<select class="form-control" required="required" name="job-type">
					<option value="" disabled selected hidden>Job Type</option>
					<option value="301">Freelance</option>
					<option value="302">Full Time</option>
					<option value="303">Internship</option>
					<option value="304">Part Time</option>
					<option value="305">Permanent</option>
					<option value="306">Temporary</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">

				<select class="form-control" required="required" name="job-region">
					<option value="" disabled selected hidden>Job Region</option>
					<option>Abia</option>
					<option>Abuja</option>
					<option>Adamawa</option>
					<option>Anambra</option>
					<option>Akwa Ibom</option>
					<option>Bauchi</option>
					<option>Bayelsa</option>
					<option>Benue</option>
					<option>Borno</option>
					<option>Cross River</option>
					<option>Delta</option>
					<option>Ebonyi</option>
					<option>Enugu</option>
					<option>Edo</option>
					<option>Ekiti</option>
					<option>Gombe</option>
					<option>Imo</option>
					<option>Jigawa</option>
					<option>Kaduna</option>
					<option>Kano</option>
					<option>Katsina</option>
					<option>Kebbi</option>
					<option>Kogi</option>
					<option>Kwara</option>
					<option>Lagos</option>
					<option>Nasarawa</option>
					<option>Niger</option>
					<option>Ogun</option>
					<option>Ondo</option>
					<option>Osun</option>
					<option>Oyo</option>
					<option>Plateau</option>
					<option>Rivers</option>
					<option>Sokoto</option>
					<option>Taraba</option>
					<option>Yobe</option>
					<option>Zamfara</option>
				</select>
			</div>
			<div class="form-group col-sm-6">
				<select class="form-control" name="salary" required="required">
					<option value="" disabled selected hidden>Salary</option>
					<option value="201">10,000 - 50,000</option>
					<option value="202">50,000 - 100,000</option>
					<option value="203">100,000 - 300,000</option>
					<option value="204">300,000 - 500,000</option>
					<option value="205">Unspecified</option>
				</select>
			</div>

		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<input class="form-control" type="number" name="experience"
					placeholder="Years Of Experience" required="required" />
			</div>
			<div class="form-group col-sm-6">
				<input class="form-control" type="file" name="cv"
					placeholder="Upload Your CV" required="required" /> <span
					class="text-info">Upload Your CV</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<input type="submit" value="Continue" class="btn btn-primary">
			</div>
		</div>
	</form>

