<form>
	<div class="col-sm-12 discussion-div" style="display: none;background-color: white; padding-top: 2%; ">
		
		<div class="form-group">
			<textarea rows="10" class="form-control tiny" id="article-text"
				name="post"></textarea>
		</div>
		<input type="hidden" name="subscribe" value="true" />
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Post Discussion" />
			<input id="close-discussion" type="button" class="btn btn-danger"
				value="Close" />
		</div>
	</div>
</form>