body {
	margin: 0;
	background-color: #003366
}

.bq-alert {
	padding: 2%;
	font-family: calibri;
	color: white;
	margin-bottom: 2%;
}

.bq-alert p{
	margin: 0px
}
.bq-alert-danger {
	background: red;
	border: 1px darkred solid;
}




.bq-btn-primary {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	
	padding: 0 15px
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	color: #fff;
	background-color: #287bbc;
	border-color: #1b5480;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#FF287BBC', endColorstr='#FF23639A');
	background-image: -webkit-linear-gradient(top, #287bbc 0%, #23639a 100%);
	background-image: -moz-linear-gradient(top, #287bbc 0%, #23639a 100%);
	background-image: -o-linear-gradient(top, #287bbc 0%, #23639a 100%);
	background-image: linear-gradient(top, #287bbc 0%, #23639a 100%);
	white-space: nowrap;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	width: 100%;

}

.sign-up-panel-one {
	background-color: #CCCC99;
	width: 100%;
}

.bq-logo-div {
	width: 25%;
	margin: 0 auto;
}

.bq-logo-div img {
	margin: 2%;
	margin-top: 2%;
}

.sign-up-panel-two {
	background-color: #003366
}

.sign-up-panel-two h3 {
	color: #FFFFFF;
	text-align: center;
	font-family: arial;
	margin: 0px
}

.sign-up-panel-two-a {
	padding-top: 2%;
	padding-bottom: 1%;
}

.sign-up-form-div {
	width: 28%;
	margin: 0 auto;
	border: 1px black #666666;
	background-color: #CCCCCC;
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
	font-family: arial-rounded;
}

.sign-up-form-div label {
	display: block;
	color: #003366;
	margin-top: 2%;
}

.sign-up-form-div input {
	display: block;
	width: 100%;
	height: auto;
	height: 1.8em;
	font-size: 100%;
}

.sign-up-form-div a {
	text-decoration: none;
}

#footer-div {
	background-color: #013143;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;

}

#footer-div h4 {
	font: 400 18px Varela Round, sans-serif;
	color: #0083af;
	margin: 0 0 12px;
}

#footer-div ul {
	padding: 0px;
}

#footer-div ul li {
	color: #859094;
	list-style: none;
}

#footer-base {
	border-top: 4px solid #1A4555;
	padding: 2%;
	color: #d8dfe2;
	margin-top: 2%;
}

#footer-base p {
	font-family: calibri;
}

.footer-connect-with-us li{
	
	display: inline !important;
	list-style: none;
	margin-right: 2%;
}

.footer-connect-with-us {
	line-height: normal;
	margin: 0 !important;
}

.discussion-sidebar {
	word-wrap: break-word;
	padding: 15px 15px 10px 15px;
	background-color: #FFF8DC;
	border: 1px solid #E0DCBF;
	font-size: 14px;
	margin-bottom: 1.5em;
	text-align: left;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	overflow: auto;
}

.create-account-form {
	border: 1px gray solid;
	width: 80%;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 2%;
	overflow: auto;
	margin-bottom: 2%;
}

.login-div {
	width: 25%;
	margin: 0 auto;
	margin-top: 1%;
	font-family: calibri;
}

.login-input-div {
	
	border: 1px  #ebccd1 solid;
	background-color: white;
	padding: 1%;
	padding-top: 0;
}

.login-input-div h1 {
	font-weight: normal;
	font-size: 28px;
	line-height: 1.2;
	margin-bottom: 10px !important;
	font-family: Arial, sans-serif;
	text-rendering: optimizeLegibility;
	padding-bottom: 4px;
	box-sizing: border-box;
	color: #333;
	margin-left: 2%;
}

@media screen and (max-width: 1200px) {
	.login-div {
		width: 25%;
	}
}

@media screen and (max-width: 992px) {
	.login-div {
		width: 40%;
	}
}

@media screen and (max-width: 767px) {
	.login-div {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.login-div {
		width: 65%;
	}
}

@media screen and (max-width: 320px) {
	.login-div {
		width: 100%;
	}
}

