<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>FindCandidateServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.FindCandidateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindCandidateServlet</servlet-name>
		<url-pattern>/bq/closed/search-candidate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AllCandidates</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.AllCandidates</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllCandidates</servlet-name>
		<url-pattern>/bq/closed/all-candidates</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitRecruiterMajorInterest1</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitRecruiterMajorInterest1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitRecruiterMajorInterest1</servlet-name>
		<url-pattern>/endpoint/init-recruiter-mj1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitRecruiterMajorInterest2</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitRecruiterMajorInterest2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitRecruiterMajorInterest2</servlet-name>
		<url-pattern>/endpoint/init-recruiter-mj2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitRecruiterMajorInterest3</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitRecruiterMajorInterest3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitRecruiterMajorInterest3</servlet-name>
		<url-pattern>/endpoint/init-recruiter-mj3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitRecruiterMajorInterest4</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitRecruiterMajorInterest4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitRecruiterMajorInterest4</servlet-name>
		<url-pattern>/endpoint/init-recruiter-mj4</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.bestqualified.listeners.BestQualifiedSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.bestqualified.filters.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/bq/closed/*</url-pattern>
		<url-pattern>/bq/close/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>JobApplicationFilter</filter-name>
		<filter-class>com.bestqualified.filters.JobApplicationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JobApplicationFilter</filter-name>
		<url-pattern>/bq/closed/job/application</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AdminDashBoard</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/dashboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDashBoard</servlet-name>
		<url-pattern>/bq/admin/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNewJob</servlet-name>
		<servlet-class>com.bestqualified.admin.NewJob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewJob</servlet-name>
		<url-pattern>/bq/admin/create-new-job</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/end-point/sign-up</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResendCodeServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.ResendConfirmationCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResendCodeServlet</servlet-name>
		<url-pattern>/end-point/resend-code</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SocialLogin</servlet-name>
		<servlet-class>com.bestqualified.servlets.SocialMediaLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SocialLogin</servlet-name>
		<url-pattern>/bq/open/social-media-login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.SignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/end-point/sign-in</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.bestqualified.servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateWorkExperience</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.UpdateWorkExperience</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateWorkExperience</servlet-name>
		<url-pattern>/bq/close/save-work-experience</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveProject</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.SaveProject</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveProject</servlet-name>
		<url-pattern>/bq/close/save-project</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveJob</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.SaveJob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveJob</servlet-name>
		<url-pattern>/bq/close/save-job</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetCV</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.GetCV</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCV</servlet-name>
		<url-pattern>/bq/close/get-cv</url-pattern>
		<url-pattern>/bq/open/get-cv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeneralDelete</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.GeneralDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneralDelete</servlet-name>
		<url-pattern>/bq/close/general-delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddEducation</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.AddEducation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEducation</servlet-name>
		<url-pattern>/bq/close/add-education</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAward</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.AddAward</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAward</servlet-name>
		<url-pattern>/bq/close/add-award</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileUploadUrl</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.FileUploadUrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadUrl</servlet-name>
		<url-pattern>/bq/close/get-file-upload-url</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/bq/close/update-profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitDashboard</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.InitDashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitDashboard</servlet-name>
		<url-pattern>/bq/closed/init-dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JobApplication</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.JobApplicationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobApplication</servlet-name>
		<url-pattern>/bq/closed/job/application</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitJobs</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.InitJobs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitJobs</servlet-name>
		<url-pattern>/bq/closed/init-jobs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitProfessionalProfile</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.InitProfessionalProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitProfessionalProfile</servlet-name>
		<url-pattern>/bq/closed/init-professional-profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailVerificationServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.EmailVerificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailVerificationServlet</servlet-name>
		<url-pattern>/end-point/email-verification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddMajorInterestServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.AddMajorInterestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMajorInterestServlet</servlet-name>
		<url-pattern>/end-point/add-major-interest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FacebookCallback</servlet-name>
		<servlet-class>com.bestqualified.servlets.FacebookCallback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacebookCallback</servlet-name>
		<url-pattern>/bq/open/facebook/callback</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LinkedInCallback</servlet-name>
		<servlet-class>com.bestqualified.servlets.LinkedInCallback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LinkedInCallback</servlet-name>
		<url-pattern>/bq/open/linkedin/callback</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LinkedInSignIn</servlet-name>
		<servlet-class>com.bestqualified.servlets.LinkedInSignIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LinkedInSignIn</servlet-name>
		<url-pattern>/bq/open/linkedin-sign-in</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FacebookSignIn</servlet-name>
		<servlet-class>com.bestqualified.servlets.FacebookSignIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacebookSignIn</servlet-name>
		<url-pattern>/bq/open/facebook-sign-in</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobSearch</servlet-name>
		<servlet-class>com.bestqualified.servlets.JobSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobSearch</servlet-name>
		<url-pattern>/bq/open/job-search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Job</servlet-name>
		<servlet-class>com.bestqualified.servlets.JobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Job</servlet-name>
		<url-pattern>/bq/open/job</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServeBlob</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.ServeBlob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServeBlob</servlet-name>
		<url-pattern>/bq/close/serve-blob</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ManageProjectServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.ManageProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageProjectServlet</servlet-name>
		<url-pattern>/bq/close/manage-project</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InitBrowseProfiles</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.InitBrowseProfiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitBrowseProfiles</servlet-name>
		<url-pattern>/bq/close/init-browse-profiles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetAssessmentQuestion</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.GetAssessmentQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAssessmentQuestion</servlet-name>
		<url-pattern>/bq/close/get-assessment-questions</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoadAssessmentQuestion</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.LoadAssessmentQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadAssessmentQuestion</servlet-name>
		<url-pattern>/bq/close/load-assessment-question</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProcessRating</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.ProcessRating</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessRating</servlet-name>
		<url-pattern>/bq/close/process-rating</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AssessmentMarker</servlet-name>
		<servlet-class>com.bestqualified.servlets.closed.AssessmentMarker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssessmentMarker</servlet-name>
		<url-pattern>/bq/close/assessment-question</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindJobServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.FindJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindJobServlet</servlet-name>
		<url-pattern>/bq/open/find-job</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllJobServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.AllJobsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllJobServlet</servlet-name>
		<url-pattern>/bq/open/all-jobs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CoachingHome</servlet-name>
		<servlet-class>com.bestqualified.servlets.coaching.InitCoaching</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoachingHome</servlet-name>
		<url-pattern>/bq/coaching/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SaveJobAlert</servlet-name>
		<servlet-class>com.bestqualified.servlets.SaveJobAlert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveJobAlert</servlet-name>
		<url-pattern>/bq/open/save-job-alert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.bestqualified.admin.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/bq/admin/admin-login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RequestCoachServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.coaching.RequestCoach</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestCoachServlet</servlet-name>
		<url-pattern>/bq/coaching/send-coach-request</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitForgotPassword</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitForgotPassword</servlet-name>
		<url-pattern>/endpoint/forgot-password</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitVerificationCode</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitVerificationCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitVerificationCode</servlet-name>
		<url-pattern>/endpoint/verification-code</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.bestqualified.servlets.ChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/endpoint/bq/change-password</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitPasswordChange</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitPasswordChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitPasswordChange</servlet-name>
		<url-pattern>/endpoint/password-change</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitSignUp</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitSignUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitSignUp</servlet-name>
		<url-pattern>/sign-up</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.bestqualified.servlets.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/endpoint/bq/forgot-password</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateAdminUser</servlet-name>
		<servlet-class>com.bestqualified.admin.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAdminUser</servlet-name>
		<url-pattern>/bq/admin/create-user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateArticleServlet</servlet-name>
		<servlet-class>com.bestqualified.admin.CreateArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateArticleServlet</servlet-name>
		<url-pattern>/bq/admin/create-article</url-pattern>
		<url-pattern>/bq/close/create-article</url-pattern>
	</servlet-mapping>

	<servlet>

		<servlet-name>InitIndex</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitIndex</servlet-name>
		<url-pattern>/init-index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobSeeker</servlet-name>
		<servlet-class>com.bestqualified.servlets.JobSeeker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobSeeker</servlet-name>
		<url-pattern>/bq/endpoint/find-a-job-user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DefaultUserServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.DefaultUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DefaultUserServlet</servlet-name>
		<url-pattern>/bq/endpoint/default-user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecruitProfessionalServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.RecruitProfessionalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecruitProfessionalServlet</servlet-name>
		<url-pattern>/bq/endpoint/recruit-professional-user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BeACoach</servlet-name>
		<servlet-class>com.bestqualified.servlets.BeACoach</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeACoach</servlet-name>
		<url-pattern>/bq/endpoint/be-a-coach</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>SaveReadingList</servlet-name>

		<servlet-class>com.bestqualified.admin.CreateReadingList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveReadingList</servlet-name>
		<url-pattern>/bq/admin/save-reading-list</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>GetReadingList</servlet-name>
		<servlet-class>com.bestqualified.servlets.GetReadingList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetReadingList</servlet-name>
		<url-pattern>/bq/coaching/tools/get-reading-list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InitCommunityBean</servlet-name>
		<servlet-class>com.bestqualified.servlets.InitCommunityBean</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitCommunityBean</servlet-name>
		<url-pattern>/community</url-pattern>
	</servlet-mapping>


	<!-- ***************************************************SERVLET*********************************************************** -->
	<servlet>
		<servlet-name>NewsLetterSubscription</servlet-name>
		<servlet-class>com.bestqualified.servlets.NewsletterSubscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsLetterSubscription</servlet-name>
		<url-pattern>/bq/open/handler/newsletter-subscribe</url-pattern>
	</servlet-mapping>
	<!-- ************************************************JSP*************************************************************** -->
	<servlet>
		<servlet-name>FindCandidates</servlet-name>
		<jsp-file>/WEB-INF/bq/close/find-candidates.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindCandidates</servlet-name>
		<url-pattern>/bq/closed/find-candidate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateReadingList</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/reading-list.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateReadingList</servlet-name>
		<url-pattern>/bq/admin/create-reading-list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChangePasswordPage</servlet-name>
		<jsp-file>/WEB-INF/bq/open/change-password.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordPage</servlet-name>
		<url-pattern>/endpoint/change-password-page</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerificationCodePage</servlet-name>
		<jsp-file>/WEB-INF/bq/open/verification-code.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerificationCodePage</servlet-name>
		<url-pattern>/endpoint/verification-code-page</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgotPasswordPage</servlet-name>
		<jsp-file>/WEB-INF/bq/open/forgot-password.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPasswordPage</servlet-name>
		<url-pattern>/endpoint/forgot-password-page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SalesDocumentPage</servlet-name>
		<jsp-file>/WEB-INF/bq/coaching/tools/sales-document.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalesDocumentPage</servlet-name>
		<url-pattern>/bq/coaching/tools/sales-document</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReadingListPage</servlet-name>
		<jsp-file>/WEB-INF/bq/coaching/tools/reading-list.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadingListPage</servlet-name>
		<url-pattern>/bq/coaching/tools/reading-list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AssessmentPage</servlet-name>
		<jsp-file>/WEB-INF/bq/coaching/tools/assessment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssessmentPage</servlet-name>
		<url-pattern>/bq/coaching/tools/assessment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InterviewCheatsPage</servlet-name>
		<jsp-file>/WEB-INF/bq/coaching/tools/interview-cheats.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>InterviewCheatsPage</servlet-name>
		<url-pattern>/bq/coaching/tools/interview-cheats</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TrainingPage</servlet-name>
		<jsp-file>/WEB-INF/bq/coaching/training.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrainingPage</servlet-name>
		<url-pattern>/bq/coaching/training</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CertificationPage</servlet-name>
		<jsp-file>/WEB-INF/bq/certifications/cert.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CertificationPage</servlet-name>
		<url-pattern>/bq/certifications</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdvertisingPage</servlet-name>
		<jsp-file>/WEB-INF/bq/certifications/advertising.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdvertisingPage</servlet-name>
		<url-pattern>/bq/certifications/advertising</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreativesPage</servlet-name>
		<jsp-file>/WEB-INF/bq/certifications/creatives.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreativesPage</servlet-name>
		<url-pattern>/bq/certifications/creatives</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MarketingPage</servlet-name>
		<jsp-file>/WEB-INF/bq/certifications/marketing.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarketingPage</servlet-name>
		<url-pattern>/bq/certifications/marketing</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicRelationsPage</servlet-name>
		<jsp-file>/WEB-INF/bq/certifications/public-relations.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicRelationsPage</servlet-name>
		<url-pattern>/bq/certifications/public-relations</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SalesPage</servlet-name>
		<jsp-file>/WEB-INF/bq/certifications/sales.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalesPage</servlet-name>
		<url-pattern>/bq/certifications/sales</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageProjectPage</servlet-name>
		<jsp-file>/WEB-INF/bq/close/manage-project.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageProjectPage</servlet-name>
		<url-pattern>/bq/close/manage-project-page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CoachRequest</servlet-name>
		<jsp-file>/WEB-INF/bq/coaching/coach-request.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoachRequest</servlet-name>
		<url-pattern>/bq/coaching/request-coach</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobSearchPage</servlet-name>
		<jsp-file>/WEB-INF/bq/open/jobs.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobSearchPage</servlet-name>
		<url-pattern>/bq/open/jobs-search-result</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BrowseProjectPage</servlet-name>
		<jsp-file>/WEB-INF/bq/close/browse-profiles.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>BrowseProjectPage</servlet-name>
		<url-pattern>/bq/close/recruiter/browse-profiles</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Project</servlet-name>
		<jsp-file>/WEB-INF/bq/close/project.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/bq/close/project</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobsPage</servlet-name>
		<jsp-file>/WEB-INF/bq/close/jobs.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobsPage</servlet-name>
		<url-pattern>/bq/close/jobs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewProject</servlet-name>
		<jsp-file>/WEB-INF/bq/close/new-project.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewProject</servlet-name>
		<url-pattern>/bq/close/new-project</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobInfoPage</servlet-name>
		<jsp-file>/WEB-INF/bq/open/job.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobInfoPage</servlet-name>
		<url-pattern>/bq/open/job-information</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobResultPage</servlet-name>
		<jsp-file>/WEB-INF/bq/open/job-search.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobResultPage</servlet-name>
		<url-pattern>/bq/open/job-result</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MajorInterestPage</servlet-name>
		<jsp-file>/WEB-INF/pages/major-interest.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MajorInterestPage</servlet-name>
		<url-pattern>/major-interest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfessionalProfilePage</servlet-name>
		<jsp-file>/WEB-INF/bq/close/professional-profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfessionalProfilePage</servlet-name>
		<url-pattern>/bq/close/professional-profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignUpPage</servlet-name>
		<jsp-file>/WEB-INF/pages/sign-up.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpPage</servlet-name>
		<url-pattern>/sign-up-page</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignInPage</servlet-name>
		<jsp-file>/WEB-INF/pages/Sign-in.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInPage</servlet-name>
		<url-pattern>/sign-in</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailVerificationPage</servlet-name>
		<jsp-file>/WEB-INF/pages/email-verification.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailVerificationPage</servlet-name>
		<url-pattern>/email-verification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNewJobPage</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/new-job.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewJobPage</servlet-name>
		<url-pattern>/bq/admin/new-job</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminNewMiscProperties</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/new-misc-properties.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewMiscProperties</servlet-name>
		<url-pattern>/bq/admin/new-misc-properties</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<jsp-file>/WEB-INF/bq/open/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/bq/open/pages/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateProfessionalAccount</servlet-name>
		<jsp-file>/WEB-INF/bq/open/create-candidate-account.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateProfessionalAccount</servlet-name>
		<url-pattern>/bq/open/pages/create-professional-account</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfessionalDashboard</servlet-name>
		<jsp-file>/WEB-INF/bq/close/professional-dashboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfessionalDashboard</servlet-name>
		<url-pattern>/bq/closed/professional/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RecruiterDashboard</servlet-name>
		<jsp-file>/WEB-INF/bq/close/recruiter-dashboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecruiterDashboard</servlet-name>
		<url-pattern>/bq/closed/recruiter/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admin</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/admin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>article</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/article.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>article</servlet-name>
		<url-pattern>/bq/admin/article</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>users</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/users.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>users</servlet-name>
		<url-pattern>/bq/admin/users</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>community</servlet-name>
		<jsp-file>/WEB-INF/bq/community/home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>community</servlet-name>
		<url-pattern>/bq/community</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>1800</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>LinkedInClientId</param-name>
		<param-value>77ciyhkk0lhyeu</param-value>
	</context-param>

	<context-param>
		<param-name>LinkedInClientSecret</param-name>
		<param-value>vId8FSizvWEzzlA7</param-value>
	</context-param>

	<context-param>
		<param-name>FacebookClientId</param-name>
		<param-value>867361690038903</param-value>
	</context-param>

	<context-param>
		<param-name>FacebookClientSecret</param-name>
		<param-value>b43a32be081ca0863328638d2270cda3</param-value>
	</context-param>

</web-app>
