<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>AdminDashBoard</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/dashboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDashBoard</servlet-name>
		<url-pattern>/bq/admin/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNewJob</servlet-name>
		<servlet-class>com.bestqualified.admin.NewJob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewJob</servlet-name>
		<url-pattern>/bq/admin/create-new-job</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/end-point/sign-up</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailVerificationServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.EmailVerificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailVerificationServlet</servlet-name>
		<url-pattern>/end-point/email-verification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddMajorInterestServlet</servlet-name>
		<servlet-class>com.bestqualified.servlets.AddMajorInterestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMajorInterestServlet</servlet-name>
		<url-pattern>/end-point/add-major-interest</url-pattern>
	</servlet-mapping>
	<!-- ***************************************************SERVLET*********************************************************** -->
	<servlet>
		<servlet-name>NewsLetterSubscription</servlet-name>
		<servlet-class>com.bestqualified.servlets.NewsletterSubscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsLetterSubscription</servlet-name>
		<url-pattern>/bq/open/handler/newsletter-subscribe</url-pattern>
	</servlet-mapping>
	<!-- ************************************************JSP*************************************************************** -->
	
	<servlet>
		<servlet-name>MajorInterestPage</servlet-name>
		<jsp-file>/WEB-INF/pages/major-interest.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MajorInterestPage</servlet-name>
		<url-pattern>/major-interest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfilePage</servlet-name>
		<jsp-file>/WEB-INF/bq/close/profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfilePage</servlet-name>
		<url-pattern>/bq/close/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignUpPage</servlet-name>
		<jsp-file>/WEB-INF/pages/sign-up.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpPage</servlet-name>
		<url-pattern>/sign-up</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignInPage</servlet-name>
		<jsp-file>/WEB-INF/pages/Sign-in.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInPage</servlet-name>
		<url-pattern>/sign-in</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailVerificationPage</servlet-name>
		<jsp-file>/WEB-INF/pages/email-verification.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailVerificationPage</servlet-name>
		<url-pattern>/email-verification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNewJobPage</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/new-job.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewJobPage</servlet-name>
		<url-pattern>/bq/admin/new-job</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminNewMiscProperties</servlet-name>
		<jsp-file>/WEB-INF/bq/admin/new-misc-properties.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewMiscProperties</servlet-name>
		<url-pattern>/bq/admin/new-misc-properties</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<jsp-file>/WEB-INF/bq/open/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/bq/open/pages/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateProfessionalAccount</servlet-name>
		<jsp-file>/WEB-INF/bq/open/create-candidate-account.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateProfessionalAccount</servlet-name>
		<url-pattern>/bq/open/pages/create-professional-account</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>1800</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
